<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer 
      class="sidenav" 
      [ngClass]="{hidden: !(isHandset | async)!.matches}" 
      fixedInViewport = "false"
      [attr.role]="(isHandset | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset | async) ? 'over' : 'side'"
      [opened]="!(isHandset | async)!.matches">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">Home</a>
      <a mat-list-item href="#">About</a>
      <a mat-list-item href="#">Contact</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="(isHandset | async)!.matches">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Application Banner | Title</span>
      <span class="spacer"></span>
      <div [ngClass]="{hidden: (isHandset | async)!.matches}">
        <a href="#">Home</a>
        <a href="#">Contact</a>
        <a href="#">About</a>
      </div>
    </mat-toolbar>
    <!-- Add Content Here -->
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
