<div class='button-sect'>
  <button mat-raised-button color="primary"  >Click Me</button>
  <button mat-raised-button color="accent">Basic</button>
  <button mat-button color="warn">Submit</button>
  <button mat-raised-button color="warn">Close</button>
  <a mat-stroked-button color="accent" href="https://google.com">Google</a>
  <a mat-flat-button color="primary" href="https://facebook.com">Facebook</a>
</div>

<div class='flex-container-example'>
  <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
    <mat-icon>more_vert</mat-icon>
  </button>
  <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
    <mat-icon>home</mat-icon>
  </button>
  <button mat-icon-button color="accent" aria-label="Example icon button with a menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <button mat-icon-button color="warn" aria-label="Example icon button with a heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button disabled aria-label="Example icon button with a open in new tab icon">
    <mat-icon>open_in_new</mat-icon>
  </button>

</div>
