.button-section {
    justify-content: space-between; 
    width: 850px;
    padding-top: 1rem;
}
button {
    margin: 1rem;
}
a {
    margin: 1rem;
}
.icon-section{
    display: flex;
    justify-content: space-between; 
    width: 640px;  
}

.menu-button {
    justify-content: space-between;
    width: 850px;
    padding-top: 1rem;
}

.center {
    margin: 10rem;
}